* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: "Rubik", sans-serif;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .top {
  text-align: center;
  font-size: 1.3rem;
  padding: 2rem 0;
  background-image: url(../img/desktop.png);
  background-size: cover;
  background-position: center;
  width: 100vw;
}

.container .top .budget {
  margin: auto auto;
  width: 35rem;
}

@media only screen and (max-width: 600px) {
  .container .top .budget {
    width: 20rem;
  }
}

.container .top .budget h1 {
  margin-bottom: 1rem;
}

.container .top .budget .balance {
  font-size: 4rem;
  margin-bottom: 1.5rem;
  font-weight: 600;
}

@media only screen and (max-width: 600px) {
  .container .top .budget .balance {
    font-size: 2rem;
  }
}

.container .top .budget .budget__box {
  font-size: 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1rem 1.5rem;
}

.container .top .budget .budget__box--income {
  background-color: #98b6da;
  color: #333;
  margin-bottom: 1.5rem;
}

.container .top .budget .budget__box--expense {
  background-color: #fe4402;
  color: #fff;
}

.bottom {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.form__input {
  margin: 0 auto;
  padding: 1rem;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: 1px solid #e7e7e7;
  background-color: #f7f7f7;
}

@media only screen and (max-width: 700px) {
  .form__input {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 3fr 1fr;
        grid-template-columns: 1fr 3fr 1fr;
    grid-gap: 0.5rem;
    width: 100%;
  }
}

.form__input > * {
  padding: 1rem 1.5rem;
  border-radius: 3px;
  border: 1px solid #333;
  font-size: 1rem;
  border: 1px solid #e7e7e7;
}

.form__input > *:not(:last-child) {
  margin-right: 1rem;
}

@media only screen and (max-width: 700px) {
  .form__input > *:not(:last-child) {
    margin-right: 0;
  }
}

@media only screen and (max-width: 700px) {
  .form__input > * {
    margin-right: 0;
    padding: 0.5rem;
  }
}

.form__input > *:focus {
  outline: none;
  border: 1px solid #98b6da;
}

.form__input .red-focus:focus {
  border: 1px solid #fe4402 !important;
}

.form__input .add__type {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  grid-row: 1/3;
}

.form__input .add__description {
  width: 30rem;
}

@media only screen and (max-width: 700px) {
  .form__input .add__description {
    width: 100%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
}

.form__input .add__value {
  width: 13rem;
}

@media only screen and (max-width: 700px) {
  .form__input .add__value {
    width: 100%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
}

@media only screen and (max-width: 700px) {
  .form__input .add__btn {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 1;
    -ms-grid-row-span: 2;
    grid-row: 1/3;
  }
}

.get__date {
  margin: 1rem auto;
}

.output__area {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin: 0 auto;
}

@media only screen and (max-width: 1000px) {
  .output__area {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.output__area .income__section,
.output__area .expense__section {
  width: 600px;
}

@media only screen and (max-width: 1300px) {
  .output__area .income__section,
  .output__area .expense__section {
    width: 100%;
  }
}

.output__area .income__title,
.output__area .expense__title {
  margin-bottom: 1rem;
  font-weight: 300;
  text-align: center;
}

.output__area .income__title {
  color: #98b6da;
}

.output__area .expense__title {
  color: #fe4402;
}

.output__area .income,
.output__area .expense {
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: top;
      -ms-flex-align: top;
          align-items: top;
  color: #333;
  font-weight: 300;
  max-width: 600px;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  overflow: hidden;
  border-bottom: 1px solid #e7e7e7;
}

@media only screen and (max-width: 500px) {
  .output__area .income,
  .output__area .expense {
    font-size: 0.8rem;
  }
}

.output__area .income > *:not(:last-child),
.output__area .expense > *:not(:last-child) {
  margin-right: 1rem;
}

.output__area .income:hover .del__btn,
.output__area .expense:hover .del__btn {
  display: block;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  width: 2rem;
  margin-left: 1rem;
}

.output__area .date {
  width: 2.2rem;
  font-size: 0.8rem;
}

.output__area .description {
  text-align: left;
  -webkit-box-flex: 2;
      -ms-flex: 2;
          flex: 2;
  word-break: break-all;
}

.output__area .value {
  text-align: right;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 110px;
}

@media only screen and (max-width: 500px) {
  .output__area .value {
    font-size: 0.8rem;
    width: 60px;
  }
}

.output__area .del__btn {
  -webkit-transform: translateX(2rem);
          transform: translateX(2rem);
  color: #fe4402;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  width: 0;
  font-size: 1.5rem;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .output__area .del__btn {
    display: block;
    -webkit-transform: translateX(0);
            transform: translateX(0);
    width: 2rem;
    margin-left: 1rem;
  }
}

@media only screen and (max-width: 700px) {
  .output__area {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 0 auto;
  }
}

.alert {
  z-index: 9999;
  background-color: #fff;
  font-size: 4rem;
  position: fixed;
  height: 100vh;
  width: 100vw;
  text-align: center;
  display: none;
}
/*# sourceMappingURL=main.css.map */